<p id="notice"><%= notice %></p>

<div>
	<span id="intro">Welcome Actors! If you are new click 'Register' below to create your profile.</span> 

	<div id='actor_reg_btn'>
		<%= link_to 'Register', new_actor_path %>
	</div>
	<span >Returning actors click 'Login' to update your information.</span>
	<div id='actor_login_btn'>
		<%= link_to 'Login', login_path %>
	</div>
</div>



