// Place all the styles related to the Actors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index.html styles

$font-stack: 'Manuale', serif;
$primary-color: black;
$div-margin: 10px;

body {
  font: 100% $font-stack;
  font-size: 20px !important;
  color: $primary-color !important;
}

#actor_reg_btn{
	margin: $div-margin;
}

#actor_login_btn{
	margin: $div-margin;

}

span{
	padding: 10px;
}

// new.html.erb

.reg-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.reg-info{
	order: 1;
	margin: $div-margin;
}

.details{
	order: 2;
	margin: $div-margin;
}

.clothes{
	order: 4;
	margin: $div-margin;

}
.appearance{
	order: 3;
	margin: $div-margin;

}

// show.html.erb

.show-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.image{
	order: 1;
	margin: $div-margin;
	flex-grow: 1;
}

.show-reg-info{
	order: 2;
	margin: $div-margin;
	flex-grow: 1;
}

.show-details{
	order: 3;
	margin: $div-margin;
	flex-grow: 1;
}

.show-appearance{
	order: 4;
	margin: $div-margin;
	flex-grow: 1;
}

.show-clothes{
	order: 5;
	margin: $div-margin;
	flex-grow: 1;
}
.holders{
	p{
	font: 100% $font-stack;
  	font-size: 20px !important;
  	color: $primary-color !important;
  }
}











