// Place all the styles related to the Roles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-stack: 'Manuale', serif;
$primary-color: black;
$div-margin: 10px;

// _role.html.rb
.link-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-bottom: 10px;
}
.character{
	font: 100% $font-stack;
  	font-size: 20px !important;
  	color: $primary-color !important;
}
.create {
	padding: 5px;

}

.delete{
	padding: 5px;
}

.edit{
	padding: 5px;
}

.auditions{
	padding: 5px;
}

//new.html.erb
.role-new-container{
	margin-left: 350px;
	font: 100% $font-stack;

}

//edit.html.erb
.role-edit-div{
	margin-left: 350px;
	font: 100% $font-stack;
}